################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManagementNode/ManagementNode/appsettings.json
/Node/Node/appsettings.json
